/* font */
.Montserrat{
    font-family: 'Montserrat', sans-serif;
}

/* weight */
.thin{
    font-weight: 100;
}
.extra-light {
    font-weight: 200;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.semi-bold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.extra-bold {
    font-weight: 800;
} 
.blackF{
    font-weight: 900;
}

/* style */
.italic {
    font-style: italic;
}